<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><%= title %></h3>
	</div>
	<div class="panel-body">
		<% if(url=='/prodamdachu'){ %>
			<% include form_prodamdachu %>
		<% } else if(url=='/prodamdachu/add' && method=='GET'){ %>
			<% include form_get_prodamdachu %>
		<%} else if(/prodamdachu\/edit\/[a-zA-Z0-9_]/.test(url) && method=='GET'){ %>
			<% include form_editget_prodamdachu %> 
		<% } else if(url=='/novosti') { %>
			<% include novosti %>	
		<% } else if(url=='/dachi') { %>
			<% include dachi %>		
		<% } else if(url=='/otchetsobrania') { %>
			<% include otchetsobrania %>			
		<% } else { %> 
			
			<%= content %>
			
		<% } %>
	</div>
</div>