   
          <% if(user.get('acsessLevel')==10){ %>
		  <ul class="nav nav-sidebar">
            <li class="active"><a href="/backend/index">Главная страница</a></li>
            <li><a href="/backend/shablondocs">Решения собраний</a></li>
			 <li><a href="/backend/face">Должностные лица товарищества</a></li>
            <li><a href="/backend/news">Создание новостей</a></li>
            <li><a href="#">След пункт</a></li>
          </ul>
		  <% } %>
          
   