	<div class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/backend/index">Админ панель</a>
		 
        </div>
        <div class="navbar-collapse collapse">
          <ul style="margin-top:7px;" class="nav navbar-nav navbar-right">
            <% if(user){ %>
			<li>
				<form method="POST" action="/backend/logout">
					<button type="submit" class="btn btn-default">Выйти</button>
				</form>
			</li>
			<% } else { %>
            <li><a href="/backend/login">Войти</a></li>
			<% } %>
            
          </ul>
          
        </div>
      </div>
    </div>