<!DOCTYPE html>
<html>
  <head>
		<title><% if(title.length >0){ %><%= title%><% } else{ %>Дача под Харьковом Питомник<% }%></title>
		<meta name="description" content=" <% if(description.length >0){ %><%= description%><% } else{ %>Дачный кооператив под Харьковом питомник, информация по дачным участкам в Харькове<% }%> " />
		<meta name="keywords" content=" <% if(keywords.length >0){ %><%= keywords%><% } else{ %>Дача, дача под Харьковом, питомник<% }%> " />
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/bootstrap.css" rel='stylesheet' type='text/css'>
	    <link href="/js/colorbox/colorbox.css"  rel='stylesheet' type='text/css'>
        <link href="/css/style.css"  rel='stylesheet' type='text/css'>
    
    
  </head>
  <body>