<% include blocks/head %>
<% include blocks/navigation %>	 

    <div class="container-fluid">
      <div class="row">
		 <div class="col-sm-3 sidebar">
			<% include blocks/leftSideBar %>	 
		 </div>
		
		
        <div class="col-sm-9 main">
			<% include blocks/centralContent/addface %>	
        </div>
      </div>
    </div>
		

<% include blocks/footer %>	

