<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
	<% for(var i=3;i<=4;i++ ){ %>
		<li data-target="#carousel-example-generic" data-slide-to="<%= i %>" class="<% if(i==3){ %> active <% } %>"></li>
	<% } %>
   
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <% for(var i=3;i<=4;i++ ){ %>
	<div class="item <% if(i==3){ %> active <% } %>">
	
      <img src="/images/gallery/pitom<%= i %>.jpg" alt="Фото питомник дачи">
      <div class="carousel-caption">
        наша природа
      </div>
    </div>
    
	<% } %>
  
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Пред</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">След</span>
  </a>
</div>