 <div class="templatemo-welcome" id="templatemo-welcome">
            <div class="container">
                <div class="templatemo-slogan text-center">
                    <span class="txt_darkgrey">Дачный кооператив </span><span class="txt_orange">Питомник</span>
                    <p class="txt_slogan"><i>Мы располагаемся в 10 - ти километрах от Харькова. Непосредственная близость к городу с одной стороны и сдругой к водоему Слатино делает наш дачный массив наиболее притягательным местом.</i></p>
                </div>	
            </div>
 </div>
        
        <div class="templatemo-service">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="templatemo-service-item">
                            <div>
                                <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
                                <span class="templatemo-service-item-header">Устав</span>
                            </div>
                            <p>В разделе представлены учредительные документы дачного товарищества</p>
                            <div class="text-center">
                            	<a href="/ustav" class="templatemo-btn-read-more btn btn-orange">Подробнее</a>
                            </div>
                            <br class="clearfix"/>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="templatemo-service-item">
                            <div>
                                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                                <span class="templatemo-service-item-header">Решения собраний
								</span>
                            </div>
							<p>В разделе представлены решения собраний </p>
								<div class="text-center"><a href="/otchetsobrania" class="templatemo-btn-read-more btn btn-orange">Подробнее</a></div>
                            <br class="clearfix"/>
                        </div>
                        
                    </div>
                    
                    <div class="col-md-4">
                        <div class="templatemo-service-item">
                            <div>
                                <!--<img src="images/battery.png" alt="icon"/>-->
								<span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                                <span class="templatemo-service-item-header">Шаблоны документов</span>
                            </div>
                            <p>В разделе предоставлены шаблоны заявлений и их порядок оформления </p>
								<div class="text-center"><a href="/shablonidokumentov" class="templatemo-btn-read-more btn btn-orange">Подробнее</a></div>
                            <br class="clearfix"/>
                        </div>
                        <br class="clearfix"/>
                    </div>
                </div>
            </div>
        </div>