<div id="templatemo-blog">
            <div class="container">
                <div class="row">
                    <div class="templatemo-line-header" style="margin-top: 0px;" >
                        <div class="text-center">
                            <h3>Вода Свет Новости Дачи Расписания</h3>
                            
                        </div>
                    </div>
                    <br class="clearfix"/>
                </div>
                
                <div class="blog_box">
                    <div class="col-sm-5 col-md-6 blog_post">
                        <ul class="list-inline">
                            <li class="col-md-4">
                                <a href="/electroenergia">
                                    <img class="img-responsive" src="images/blog-image-1.jpg" alt="Электроэнергия" />
                                </a>
                            </li>
                            <li  class="col-md-8">
                                <div class="pull-left">
                                    <span class="blog_header">Электроэнергия</span><br/>
                                    
                                </div>
                                <div class="pull-right">
                                    <a class="btn btn-orange" href="/electroenergia" role="button">В раздел</a>
                                </div>
                                <div class="clearfix"> </div>
                                <p class="blog_text">
                                    Все что касается оплаты за свет <a href="/electroenergia">[...]</a>
                                </p>
                            </li>
                        </ul>
                    </div> 
                    
                    <div class="col-sm-5 col-md-6 blog_post">
                        <ul class="list-inline">
                            <li class="col-md-4"><a href="/water">
                                <img class="img-responsive" src="images/blog-image-2.jpg" alt="Вода" /></a>
                            </li>
                            <li class="col-md-8">
                                <div class="pull-left">
                                    <span class="blog_header">Вода</span><br/>
                                    
                                </div>
                                <div class="pull-right">
                                    <a class="btn btn-orange" href="/water" role="button">В раздел</a>
                                </div>
                                <div class="clearfix"> </div>
                                <p class="blog_text">
                                        Все что касается подачи воды <a href="/water">[...]</a>
                                </p>
                            </li>
                        </ul>	
                    </div>
                    
                    <div class="templatemo_clear"></div>
                    
                    <div class="col-sm-5 col-md-6 blog_post">
                        <ul class="list-inline">
                            <li class="col-md-4"><a href="/novosti">
                                <img class="img-responsive" src="images/blog-image-3.png" alt="Новости" /></a>
                            </li>
                            <li class="col-md-8">
                                <div class="pull-left">
                                    <span class="blog_header">Новости</span><br/>
                                    
                                </div>
                                <div class="pull-right">
                                    <a class="btn btn-orange" href="/novosti" role="button">В раздел</a>
                                </div>
                                <div class="clearfix"> </div>
                                <p class="blog_text">
                                        В разделе приведены новости в том числе срочные <a href="/novosti">[...]</a>
                                </p>
                            </li>
                        </ul>	
                    </div>
                    
                    <div class="col-sm-5 col-md-6 blog_post">
                        <ul class="list-inline">
                            <li class="col-md-4">
                                <a href="/dachi">
                                    <img class="img-responsive" src="images/blog-image-4.png"  alt="Дачи участки" />
                                </a>
                            </li>
                            <li class="col-md-8">
                                <div class="pull-left">
                                    <span class="blog_header">Дачи участки</span><br/>
                                    
                                </div>
                                <div class="pull-right">
                                    <a class="btn btn-orange" href="/dachi" role="button">В раздел</a>
                                </div>
                                <div class="clearfix"> </div>
                                <p class="blog_text">
                                    В разделе представлены участки и дачи выставленные на продажу <a href="/dachi">[...]</a>
                                </p>
                            </li>
                        </ul>
                    </div> 
                    
                </div>
            </div>
</div>