<div id="templatemo-contact">
            <div class="container">
                <div class="row">
                    <div class="templatemo-line-header head_contact">
                        <div class="text-center">
                            <hr class="team_hr team_hr_left hr_gray"/><span class="txt_darkgrey">На карте</span>
                            <hr class="team_hr team_hr_right hr_gray"/>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="templatemo-contact-map" id="map-canvas"> </div>  
                        <div class="clearfix"></div>
                        <i>Харьковская область Дергачевский р-н <span class="txt_orange">Питомник</span> </i>
                    </div>
                    
					<div class="col-md-4 contact_right">
                        <h4>Как добраться?</h4>
                        <p>Автобус на питомник с АС № 4(Лесопарк) - прямое сообщение</p>
						<p>Летнее расписание движения: </p><p>пон. четв. пятн. суб. воскр.</p>
						<p>Автомобиль - Харьков, выезд по Белгородскому шоссе, Пятихатки, Русская Лозовая, прямо и через 2 км возле указателя Березка поворот налево </p>
                        
                        
                        	
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /#templatemo-contact -->