 <div class="row">
		 <div class="col-lg-12">
			<h3>Вы работаете как <%= user.get('username') %>, уровень доступа <% if(user.get('acsessLevel')==10){ %> полный <% }else{ %> ограниченный <% } %></h3>
			<h4 class="sub-header">Для работы кликните по необходимому пункту меню слева</h4>
		 </div>
		 
 </div>
 
          