 <div class="">
    <div class="container">
		<div class="row">
			<div class="col-md-12">
				<ol class="breadcrumb">
				  <li><a href="/">Главная</a></li>
				  <li class="active"><%= title %></li>
				</ol>
			</div>
		</div>	
    </div>
 </div>
        
 <div class="">
    <div class="container">
        <div class="row">
		  <!-- left side bar -->
		  <div class="col-md-3">
			<% include components/leftSideBar %>
		  </div>
		  <!-- end left side bar -->
		  
		  <!-- central block -->
		  <div class="col-md-9">
			<% include components/centralBlock %>
		  </div>
		  <!-- end central block -->
		</div>
    </div>
 </div>